.nav-links {
    /* width: 100%; */
    height: auto;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.nav-links li {
    border: 0px hidden;
    border-radius: 5px;
    margin-right: 1.25rem;
    padding:1em 0.35em 0.625em 0.35rem;
}

.nav-links a {

    text-decoration:none;
    color:white;
    padding-left:35px;
    padding-top:10px;
}

.nav-links li:hover, .nav-links li:active {
    background:#FFD700;
}

.nav-links a.user{
    background: url(./user.svg) no-repeat center;
}

.nav-links a.add{
    background: url(./add.svg) no-repeat left;

}

.nav-links a.list{
    background: url(./list.svg) no-repeat left;

}

@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
    }
}
